* {
    font-family: Roboto, sans-serif;
}

body * {
    max-width: 900px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header, .footer, .row-1{
    background-color: #1f2937;
    color: aliceblue;
}


.header {
    width: 900px;
    display: flex;
    flex: 0 1 0;
}

.header .left{
    align-self: center;
    margin: 10px;
}

.header .right{
    display: flex;
    list-style-type: none;
    margin-left: auto;
    margin-right: 10px;
    gap: 15px;
}

.header .right a{
    text-decoration: none;
    color: aliceblue;
}

.row-1 {
    gap: 15px;
    display: flex;
}

.row-1 .col1 {
    display: flex;
    flex-direction: column;
}

.row-1 .col1 .title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.row-1 .col1 .subtext{
    font-size: 18px;
    color: #e5e7eb;
}

.row-1 .col2 {
    /* flex: 0 0 0px;  */
}

.row-2 {
    display: flex;
    justify-content: center;
    gap: 30px
}

.described-pic {
    display: flex;
    flex-direction: column;
    flex: 0;
}

.described-pic img {
    border: 5px solid #1f2937;
    border-radius: 8%;
}

.described-pic .image-desc {
    text-align: center;
}



.row-3 {
    flex: 0 0 300px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.quote {
}

.quote-author {
    margin-left: auto;
}

.row-4 {
    display: flex;
}

.footer {
    margin-top: auto;
}